<div class="alert alert-secondary" role="alert">
    <h1 class="display-4">Bem vindo ao Blog do node!</h1>
    <p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou
        informação.</p>
    <hr class="my-4">
    <p class="lead">Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior
        container.<br>
        <a class="btn btn-primary btn-lg mt-3" href="#">Crie uma conta</a>
    </p>
</div>
<hr>
<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a><br>
        </hr>
        <small>Categoria: {{categoria.nome}}</small>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h4>Nenhuma Postagem feita</h4>
{{/each}}